/* line 56, sass/var.scss */
.btn-iw-p {
  background: #A09ECB;
  color: #FFF;
  border: none;
  border-radius: 2px;
  padding: 15px;
}
@media (min-width: 768px) {
  /* line 56, sass/var.scss */
  .btn-iw-p {
    padding: 10px 20px;
  }
}
/* line 66, sass/var.scss */
.btn-iw-p:hover {
  background: #294890;
  color: #fff;
}

/* line 72, sass/var.scss */
.btn-iw-b {
  background: #294890;
  color: #FFF;
  border: none;
  border-radius: 2px;
  padding: 3%;
}
@media (min-width: 768px) {
  /* line 72, sass/var.scss */
  .btn-iw-b {
    padding: 1% 2%;
  }
}
/* line 81, sass/var.scss */
.btn-iw-b:hover {
  background: #A09ECB;
  color: #fff;
}

/* line 87, sass/var.scss */
.text-center {
  text-align: center;
}

/* line 91, sass/var.scss */
.text-left {
  text-align: left;
}

/* line 95, sass/var.scss */
.text-right {
  text-align: right;
}

/* line 115, sass/var.scss */
.navbar-toggle {
  border: none !important;
  background-color: transparent !important;
}
/* line 119, sass/var.scss */
.navbar-toggle:hover {
  border: none !important;
  background-color: transparent !important;
}
/* line 124, sass/var.scss */
.navbar-toggle:focus {
  border: none !important;
  background-color: transparent !important;
}

/* line 3, sass/main.scss */
body {
  font-family: 'Lato', verdana;
  background: #fafafa;
}
/* line 7, sass/main.scss */
body p {
  line-height: 1.7em;
  font-weight: 300;
}

/* line 13, sass/main.scss */
.investingwell-well {
  color: #A09ECB;
}

/* line 18, sass/main.scss */
.navbar .navbar-brand {
  width: 20%;
}
/* line 21, sass/main.scss */
.navbar .navbar-brand img {
  max-width: 120px;
  margin-top: -7px;
}

/* line 28, sass/main.scss */
.header {
  margin-top: 40px;
  background: url("../images/hands.png");
  background-size: cover;
  background-position: center;
  padding: 20px;
}
@media (min-width: 768px) {
  /* line 28, sass/main.scss */
  .header {
    padding: 100px;
  }
}
/* line 38, sass/main.scss */
.header h1 {
  color: #fff;
  font-weight: 300;
  font-size: 4em;
  text-shadow: 2px 2px 4px #000;
}
/* line 45, sass/main.scss */
.header p {
  padding: 20px;
  padding-top: 20px;
  padding-bottom: 30px;
  color: #fff;
  text-shadow: 2px 2px 4px #000;
  font-weight: 200;
  font-size: 1.4em;
}
@media (min-width: 768px) {
  /* line 45, sass/main.scss */
  .header p {
    padding: 20px 150px 30px;
    font-size: 1.8em;
  }
}

/* line 60, sass/main.scss */
input[type='text'] {
  font-size: 16px;
}

/* line 64, sass/main.scss */
.chatHeader {
  padding-top: 10vh;
  padding-bottom: 10vh;
  height: auto;
  transition: 1s;
  background: #C04848;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #A09ECB, #294890);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #A09ECB, #294890);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* line 75, sass/main.scss */
.chatHeader .question {
  margin-top: 30vh;
  width: 50%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  /* line 75, sass/main.scss */
  .chatHeader .question {
    width: 90%;
  }
}
/* line 83, sass/main.scss */
.chatHeader .question label {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
}
/* line 89, sass/main.scss */
.chatHeader #answer {
  width: 75%;
  margin: 30px auto 0;
  color: #fff;
  font-size: 17px;
  transition: 1s;
}
@media (max-width: 768px) {
  /* line 89, sass/main.scss */
  .chatHeader #answer {
    width: 90%;
  }
}
/* line 99, sass/main.scss */
.chatHeader #answer ul {
  list-style-type: none;
}
/* line 102, sass/main.scss */
.chatHeader #answer ul li {
  margin-left: -15px;
}
/* line 105, sass/main.scss */
.chatHeader #answer ul li a {
  color: #fff;
  margin-left: -15px;
}

/* line 116, sass/main.scss */
.savingFor {
  padding-top: 20px;
  padding-bottom: 40px;
}
/* line 120, sass/main.scss */
.savingFor h3 {
  font-weight: 700;
}
/* line 124, sass/main.scss */
.savingFor .card-options {
  margin-top: 30px;
}
/* line 127, sass/main.scss */
.savingFor .card-options .box {
  color: #333;
  margin-bottom: 30px;
  text-decoration: none;
}
/* line 132, sass/main.scss */
.savingFor .card-options .box .box-inner {
  background: #fff;
  border-radius: 3px;
  padding: 20px;
  border: 1px solid #e5e5e5;
  transition: 0.3s;
}
/* line 133, sass/main.scss */
.savingFor .card-options .box .box-inner i {
  font-size: 40px;
}
/* line 137, sass/main.scss */
.savingFor .card-options .box .box-inner p {
  font-weight: 700;
  margin-top: 20px;
}
@media (min-width: 768px) {
  /* line 147, sass/main.scss */
  .savingFor .card-options .box .box-inner:hover {
    margin-top: -3px;
    border-bottom: 5px solid #A09ECB;
  }
  /* line 148, sass/main.scss */
  .savingFor .card-options .box .box-inner:hover i {
    color: #294890;
  }
}

/* line 160, sass/main.scss */
.donations {
  padding: 20px;
  padding-top: 30px;
  background: url("../images/donations-darker.png");
  background-position: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}
@media (min-width: 768px) {
  /* line 160, sass/main.scss */
  .donations {
    padding: 15px 90px 90px;
  }
}
@media (min-width: 768px) {
  /* line 160, sass/main.scss */
  .donations {
    background: url("../images/donations.png");
    background-position: left;
  }
}
/* line 176, sass/main.scss */
.donations h2 {
  font-size: 2.6em;
  font-weight: 700;
  margin-bottom: 50px;
}
/* line 182, sass/main.scss */
.donations p {
  font-size: 18px;
  font-weight: 300;
}
/* line 187, sass/main.scss */
.donations .btn {
  margin-top: 20px;
}

/* line 192, sass/main.scss */
.robots {
  padding: 20px;
  padding-top: 30px !important;
}
@media (min-width: 768px) {
  /* line 192, sass/main.scss */
  .robots {
    padding: 15px 90px 90px;
  }
}
/* line 199, sass/main.scss */
.robots h2 {
  font-size: 2.6em;
  font-weight: 700;
}
/* line 204, sass/main.scss */
.robots hr {
  height: 1px;
  background-color: #333;
  border: none;
}
/* line 210, sass/main.scss */
.robots p {
  font-size: 18px;
  font-weight: 300;
}
/* line 215, sass/main.scss */
.robots .btn {
  margin-top: 20px;
}
@media (max-width: 768px) {
  /* line 219, sass/main.scss */
  .robots .image {
    text-align: left;
  }
}
/* line 223, sass/main.scss */
.robots .image img {
  width: 100%;
}
@media (min-width: 480px) {
  /* line 223, sass/main.scss */
  .robots .image img {
    width: 50%;
  }
}
@media (min-width: 992px) {
  /* line 223, sass/main.scss */
  .robots .image img {
    width: 100%;
    margin-top: 50px;
  }
}
@media (min-width: 1300px) {
  /* line 223, sass/main.scss */
  .robots .image img {
    width: 75%;
  }
}

/* line 239, sass/main.scss */
.personalised {
  background: #eee;
  padding: 20px;
}
@media (min-width: 992px) {
  /* line 239, sass/main.scss */
  .personalised {
    padding-bottom: 0;
  }
}
/* line 246, sass/main.scss */
.personalised h2 {
  font-size: 2.6em;
  font-weight: 700;
}
@media (min-width: 768px) {
  /* line 246, sass/main.scss */
  .personalised h2 {
    margin-bottom: 50px;
  }
}
/* line 254, sass/main.scss */
.personalised p {
  font-size: 18px;
  font-weight: 300;
}
/* line 259, sass/main.scss */
.personalised .btn {
  margin-top: 20px;
}
/* line 263, sass/main.scss */
.personalised img {
  width: 50%;
}
@media (min-width: 768px) {
  /* line 263, sass/main.scss */
  .personalised img {
    width: 55%;
  }
}

@media (min-width: 768px) {
  /* line 271, sass/main.scss */
  .service {
    padding: 30px;
  }
}
/* line 276, sass/main.scss */
.service h3 {
  font-weight: 700;
}
/* line 280, sass/main.scss */
.service table {
  margin-top: 30px;
}
/* line 283, sass/main.scss */
.service table thead {
  background: #4A4A4A;
  color: #fff;
}
/* line 287, sass/main.scss */
.service table thead th {
  color: #fff;
  padding: 7px;
  border-radius: 3px 3px 0 0;
}
/* line 294, sass/main.scss */
.service table tbody {
  border-left: 1px solid #eee;
}
/* line 297, sass/main.scss */
.service table tbody tr {
  border-bottom: 1px solid #eee;
}
/* line 300, sass/main.scss */
.service table tbody tr.firstRow {
  font-weight: 700;
}
/* line 304, sass/main.scss */
.service table tbody tr:nth-of-type(even) {
  background: #F2F2F2;
}
/* line 308, sass/main.scss */
.service table tbody tr td {
  padding: 7px;
  border-right: 1px solid #eee;
}
/* line 312, sass/main.scss */
.service table tbody tr td .fa-check {
  color: #72E270;
}
/* line 316, sass/main.scss */
.service table tbody tr td .fa-times {
  color: #852525;
}

/* line 324, sass/main.scss */
.footer {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
/* line 328, sass/main.scss */
.footer .navbar {
  border-radius: 0px;
  background-color: #eee;
  border: none;
}
/* line 334, sass/main.scss */
.footer .navbar .navbar-right li a {
  font-size: 18px;
}
