/* line 56, sass/var.scss */
.btn-iw-p {
  background: #A09ECB;
  color: #FFF;
  border: none;
  border-radius: 2px;
  padding: 15px;
}
@media (min-width: 768px) {
  /* line 56, sass/var.scss */
  .btn-iw-p {
    padding: 10px 20px;
  }
}
/* line 66, sass/var.scss */
.btn-iw-p:hover {
  background: #294890;
  color: #fff;
}

/* line 72, sass/var.scss */
.btn-iw-b {
  background: #294890;
  color: #FFF;
  border: none;
  border-radius: 2px;
  padding: 3%;
}
@media (min-width: 768px) {
  /* line 72, sass/var.scss */
  .btn-iw-b {
    padding: 1% 2%;
  }
}
/* line 81, sass/var.scss */
.btn-iw-b:hover {
  background: #A09ECB;
  color: #fff;
}

/* line 87, sass/var.scss */
.text-center {
  text-align: center;
}

/* line 91, sass/var.scss */
.text-left {
  text-align: left;
}

/* line 95, sass/var.scss */
.text-right {
  text-align: right;
}

/* line 115, sass/var.scss */
.navbar-toggle {
  border: none !important;
  background-color: transparent !important;
}
/* line 119, sass/var.scss */
.navbar-toggle:hover {
  border: none !important;
  background-color: transparent !important;
}
/* line 124, sass/var.scss */
.navbar-toggle:focus {
  border: none !important;
  background-color: transparent !important;
}

/* line 3, sass/main.scss */
body {
  font-family: 'Lato', verdana;
  background: #fafafa;
}
/* line 7, sass/main.scss */
body p {
  line-height: 1.7em;
  font-weight: 300;
}

/* line 13, sass/main.scss */
.investingwell-well {
  color: #A09ECB;
}

/* line 18, sass/main.scss */
.navbar .navbar-brand {
  width: 20%;
}
/* line 21, sass/main.scss */
.navbar .navbar-brand img {
  max-width: 120px;
  margin-top: -7px;
}

/* line 28, sass/main.scss */
.header {
  margin-top: 40px;
  background: url("../images/hands.png");
  background-size: cover;
  background-position: center;
  padding: 20px;
}
@media (min-width: 768px) {
  /* line 28, sass/main.scss */
  .header {
    padding: 100px;
  }
}
/* line 38, sass/main.scss */
.header h1 {
  color: #fff;
  font-weight: 300;
  font-size: 4em;
  text-shadow: 2px 2px 4px #000;
}
/* line 45, sass/main.scss */
.header p {
  padding: 20px;
  padding-top: 20px;
  padding-bottom: 30px;
  color: #fff;
  text-shadow: 2px 2px 4px #000;
  font-weight: 200;
  font-size: 1.4em;
}
@media (min-width: 768px) {
  /* line 45, sass/main.scss */
  .header p {
    padding: 20px 150px 30px;
    font-size: 1.8em;
  }
}

/* line 60, sass/main.scss */
input[type='text'] {
  font-size: 16px;
}

/* line 64, sass/main.scss */
.chatHeader {
  padding-top: 10vh;
  padding-bottom: 10vh;
  height: auto;
  transition: 1s;
  background: #C04848;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #A09ECB, #294890);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #A09ECB, #294890);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* line 75, sass/main.scss */
.chatHeader .question {
  margin-top: 30vh;
  width: 50%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  /* line 75, sass/main.scss */
  .chatHeader .question {
    width: 90%;
  }
}
/* line 83, sass/main.scss */
.chatHeader .question label {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
}
/* line 89, sass/main.scss */
.chatHeader #answer {
  width: 75%;
  margin: 30px auto 0;
  color: #fff;
  font-size: 17px;
  transition: 1s;
}
@media (max-width: 768px) {
  /* line 89, sass/main.scss */
  .chatHeader #answer {
    width: 90%;
  }
}
/* line 99, sass/main.scss */
.chatHeader #answer ul {
  list-style-type: none;
}
/* line 102, sass/main.scss */
.chatHeader #answer ul li {
  margin-left: -15px;
}
/* line 105, sass/main.scss */
.chatHeader #answer ul li a {
  color: #fff;
  margin-left: -15px;
}

/* line 116, sass/main.scss */
.savingFor {
  padding-top: 20px;
  padding-bottom: 40px;
}
/* line 120, sass/main.scss */
.savingFor h3 {
  font-weight: 700;
}
/* line 124, sass/main.scss */
.savingFor .card-options {
  margin-top: 30px;
}
/* line 127, sass/main.scss */
.savingFor .card-options .box {
  color: #333;
  margin-bottom: 30px;
  text-decoration: none;
}
/* line 132, sass/main.scss */
.savingFor .card-options .box .box-inner {
  background: #fff;
  border-radius: 3px;
  padding: 20px;
  border: 1px solid #e5e5e5;
  transition: 0.3s;
}
/* line 133, sass/main.scss */
.savingFor .card-options .box .box-inner i {
  font-size: 40px;
}
/* line 137, sass/main.scss */
.savingFor .card-options .box .box-inner p {
  font-weight: 700;
  margin-top: 20px;
}
@media (min-width: 768px) {
  /* line 147, sass/main.scss */
  .savingFor .card-options .box .box-inner:hover {
    margin-top: -3px;
    border-bottom: 5px solid #A09ECB;
  }
  /* line 148, sass/main.scss */
  .savingFor .card-options .box .box-inner:hover i {
    color: #294890;
  }
}

/* line 160, sass/main.scss */
.donations {
  padding: 20px;
  padding-top: 30px;
  background: url("../images/donations-darker.png");
  background-position: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}
@media (min-width: 768px) {
  /* line 160, sass/main.scss */
  .donations {
    padding: 15px 90px 90px;
  }
}
@media (min-width: 768px) {
  /* line 160, sass/main.scss */
  .donations {
    background: url("../images/donations.png");
    background-position: left;
  }
}
/* line 175, sass/main.scss */
.donations h2 {
  font-size: 2.6em;
  font-weight: 700;
  margin-bottom: 50px;
}
/* line 181, sass/main.scss */
.donations p {
  font-size: 18px;
  font-weight: 300;
}
/* line 186, sass/main.scss */
.donations .btn {
  margin-top: 20px;
}

/* line 191, sass/main.scss */
.robots {
  padding: 20px;
  padding-top: 30px !important;
}
@media (min-width: 768px) {
  /* line 191, sass/main.scss */
  .robots {
    padding: 15px 90px 90px;
  }
}
/* line 198, sass/main.scss */
.robots h2 {
  font-size: 2.6em;
  font-weight: 700;
}
/* line 203, sass/main.scss */
.robots hr {
  height: 1px;
  background-color: #333;
  border: none;
}
/* line 209, sass/main.scss */
.robots p {
  font-size: 18px;
  font-weight: 300;
}
/* line 214, sass/main.scss */
.robots .btn {
  margin-top: 20px;
}
@media (max-width: 768px) {
  /* line 218, sass/main.scss */
  .robots .image {
    text-align: left;
  }
}
/* line 223, sass/main.scss */
.robots .image img {
  width: 100%;
}
@media (min-width: 480px) {
  /* line 223, sass/main.scss */
  .robots .image img {
    width: 50%;
  }
}
@media (min-width: 992px) {
  /* line 223, sass/main.scss */
  .robots .image img {
    width: 100%;
    margin-top: 50px;
  }
}
@media (min-width: 1300px) {
  /* line 223, sass/main.scss */
  .robots .image img {
    width: 75%;
  }
}

/* line 239, sass/main.scss */
.personalised {
  background: #eee;
  padding: 20px;
}
@media (min-width: 992px) {
  /* line 239, sass/main.scss */
  .personalised {
    padding-bottom: 0;
  }
}
/* line 246, sass/main.scss */
.personalised h2 {
  font-size: 2.6em;
  font-weight: 700;
}
@media (min-width: 768px) {
  /* line 246, sass/main.scss */
  .personalised h2 {
    margin-bottom: 50px;
  }
}
/* line 254, sass/main.scss */
.personalised p {
  font-size: 18px;
  font-weight: 300;
}
/* line 259, sass/main.scss */
.personalised .btn {
  margin-top: 20px;
}
/* line 263, sass/main.scss */
.personalised img {
  width: 50%;
}
@media (min-width: 768px) {
  /* line 263, sass/main.scss */
  .personalised img {
    width: 55%;
  }
}

/* line 271, sass/main.scss */
.service {
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  /* line 271, sass/main.scss */
  .service {
    padding: 30px;
  }
}
/* line 277, sass/main.scss */
.service h3 {
  font-weight: 700;
}
/* line 281, sass/main.scss */
.service table {
  margin-top: 30px;
}
/* line 284, sass/main.scss */
.service table thead {
  background: #4A4A4A;
  color: #fff;
}
/* line 288, sass/main.scss */
.service table thead th {
  color: #fff;
  padding: 7px;
  border-radius: 3px 3px 0 0;
}
/* line 295, sass/main.scss */
.service table tbody {
  border-left: 1px solid #eee;
}
/* line 298, sass/main.scss */
.service table tbody tr {
  border-bottom: 1px solid #eee;
}
/* line 301, sass/main.scss */
.service table tbody tr.firstRow {
  font-weight: 700;
}
/* line 305, sass/main.scss */
.service table tbody tr:nth-of-type(even) {
  background: #F2F2F2;
}
/* line 309, sass/main.scss */
.service table tbody tr td {
  padding: 7px;
  border-right: 1px solid #eee;
}
/* line 313, sass/main.scss */
.service table tbody tr td .fa-check {
  color: #72E270;
}
/* line 317, sass/main.scss */
.service table tbody tr td .fa-times {
  color: #852525;
}

/* line 326, sass/main.scss */
.clients {
  background: #eee;
  padding: 20px 0;
}
/* line 330, sass/main.scss */
.clients h2 {
  font-weight: 700;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  /* line 335, sass/main.scss */
  .clients .clientbox-lower {
    opacity: 0.75;
    margin-top: 30px;
    transition: 0.3s;
  }
  /* line 342, sass/main.scss */
  .clients .clientbox-lower:hover {
    opacity: 1;
    margin-top: 0;
  }
}
/* line 349, sass/main.scss */
.clients .clientbox {
  margin-bottom: 20px;
}
/* line 351, sass/main.scss */
.clients .clientbox .clientBoxInner {
  background: #fff;
  border-radius: 4px;
  box-shadow: 2px 2px 4px #000;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 358, sass/main.scss */
.clients .clientbox .clientBoxInner .clientImage {
  width: 50px;
  height: 50px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  background: #eee;
}
/* line 366, sass/main.scss */
.clients .clientbox .clientBoxInner .clientImage img {
  display: inline;
  margin: 0 auto;
  height: auto;
  width: 55px;
  margin-left: -75%;
}
/* line 375, sass/main.scss */
.clients .clientbox .clientBoxInner .nameRating {
  margin-top: -15px;
}
/* line 378, sass/main.scss */
.clients .clientbox .clientBoxInner .nameRating i {
  color: #438787;
}
/* line 384, sass/main.scss */
.clients .clientbox .clientBoxInner .reviewContent p {
  font-size: 10px;
}

/* line 392, sass/main.scss */
.steps {
  padding: 20px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  /* line 392, sass/main.scss */
  .steps {
    padding: 30px;
  }
}
/* line 399, sass/main.scss */
.steps .image {
  text-align: center;
}
/* line 402, sass/main.scss */
.steps .image img {
  width: 50%;
}
/* line 408, sass/main.scss */
.steps .theSteps ul {
  list-style-type: none;
}
/* line 411, sass/main.scss */
.steps .theSteps ul li {
  margin-bottom: 20px;
}
/* line 414, sass/main.scss */
.steps .theSteps ul li img {
  width: 100%;
  padding-top: 20px;
}
@media (max-width: 768px) {
  /* line 414, sass/main.scss */
  .steps .theSteps ul li img {
    width: 100%;
  }
}
/* line 422, sass/main.scss */
.steps .theSteps ul li h3 {
  font-weight: 700;
}

/* line 430, sass/main.scss */
.flowchart {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
/* line 433, sass/main.scss */
.flowchart h3 {
  background: #494949;
  color: #fff;
  padding: 10px 0;
  font-weight: 700;
}
/* line 440, sass/main.scss */
.flowchart .flowbox {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
/* line 443, sass/main.scss */
.flowchart .flowbox h4 {
  padding: 10px 0;
  font-weight: 300;
  min-height: 40px;
}
/* line 449, sass/main.scss */
.flowchart .flowbox img {
  width: 100%;
}
/* line 453, sass/main.scss */
.flowchart .flowbox .para-holder {
  padding: 20px;
}
/* line 456, sass/main.scss */
.flowchart .flowbox .para-holder p {
  padding: 10px;
  background: #eee;
  border-radius: 4px;
  min-height: 120px;
  position: relative;
}
/* line 463, sass/main.scss */
.flowchart .flowbox .para-holder p:after, .flowchart .flowbox .para-holder p:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  border-color: #eee;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
/* line 476, sass/main.scss */
.flowchart .flowbox .para-holder p:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #eee;
  border-width: 10px;
  margin-left: -10px;
}
/* line 483, sass/main.scss */
.flowchart .flowbox .para-holder p:before {
  border-color: rgba(245, 245, 245, 0);
  border-bottom-color: #eee;
  border-width: 16px;
  margin-left: -16px;
}

/* line 564, sass/main.scss */
.charity {
  background: #fff;
  padding-left: 0px;
  padding-right: 0px;
}
/* line 568, sass/main.scss */
.charity .logo {
  padding: 0px 90px;
}
/* line 570, sass/main.scss */
.charity .logo img {
  width: 100%;
}
/* line 575, sass/main.scss */
.charity .tagline h2 {
  font-weight: 700;
  padding-top: 50px;
}
/* line 580, sass/main.scss */
.charity .charityInfo {
  padding: 60px;
  padding-bottom: 0px;
}
/* line 584, sass/main.scss */
.charity .charity-image {
  background: url("../images/hands-colours.png");
  background-size: cover;
  background-position: top;
  padding: 10%;
}

/* line 592, sass/main.scss */
.fscs {
  background: #eee;
  padding: 90px;
}
/* line 595, sass/main.scss */
.fscs img {
  width: 50%;
}
/* line 598, sass/main.scss */
.fscs .fscs-text {
  margin-top: 30px;
}

/* line 604, sass/main.scss */
.footer {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
/* line 607, sass/main.scss */
.footer .navbar-collapse.collapse {
  display: block;
}
/* line 611, sass/main.scss */
.footer .navbar-nav,
.footer .navbar-nav > li {
  float: left;
}
/* line 616, sass/main.scss */
.footer .navbar-nav.navbar-right:last-child {
  margin-right: -15px;
}
@media (min-width: 768px) {
  /* line 620, sass/main.scss */
  .footer .navbar-right {
    float: right !important;
  }
}
@media (max-width: 768px) {
  /* line 625, sass/main.scss */
  .footer .navbar .navbar-nav {
    display: inline-block !important;
    float: none !important;
    vertical-align: top;
  }
  /* line 626, sass/main.scss */
  .footer .navbar .navbar-nav li {
    display: inline-block !important;
    float: none !important;
  }
  /* line 635, sass/main.scss */
  .footer .navbar .navbar-collapse {
    text-align: center;
  }
}
/* line 640, sass/main.scss */
.footer .navbar {
  border-radius: 0;
  margin-bottom: 0;
  background-color: #eee;
  border: none;
}
/* line 648, sass/main.scss */
.footer .navbar .navbar-right li a {
  font-size: 18px;
}
/* line 655, sass/main.scss */
.footer .footer-content {
  padding: 30px 30px 10px;
}
/* line 658, sass/main.scss */
.footer .footer-content .contact-info {
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  /* line 658, sass/main.scss */
  .footer .footer-content .contact-info {
    padding-left: 90px;
  }
}
/* line 665, sass/main.scss */
.footer .footer-content .contact-info table tr {
  cursor: pointer;
}
/* line 668, sass/main.scss */
.footer .footer-content .contact-info table tr td {
  padding: 5px;
}
/* line 671, sass/main.scss */
.footer .footer-content .contact-info table tr td:nth-child(1) {
  padding-left: 0;
}
/* line 675, sass/main.scss */
.footer .footer-content .contact-info table tr td i {
  color: #A09ECB;
}
