/* line 9, sass/var.scss */
h1, h2, h3, h4, h5, h6, p, li {
  color: #324A5E;
}

/* line 62, sass/var.scss */
.navbar-collapse {
  max-height: 100% !important;
}

/* line 78, sass/var.scss */
.btn-iw-b, .pager li a {
  background: #49C1B6;
  color: #FFF;
  border: none;
  border-radius: 2px;
  padding: 15px;
}
@media (min-width: 768px) {
  /* line 78, sass/var.scss */
  .btn-iw-b, .pager li a {
    padding: 10px 20px;
  }
}
/* line 88, sass/var.scss */
.btn-iw-b:hover, .pager li a:hover {
  background: #98EAC5;
  color: #fff;
}

/* line 94, sass/var.scss */
.btn-iw-g {
  background: #98EAC5;
  color: #FFF;
  border: none;
  border-radius: 2px;
  padding: 3%;
}
@media (min-width: 768px) {
  /* line 94, sass/var.scss */
  .btn-iw-g {
    padding: 1% 2%;
  }
}
/* line 104, sass/var.scss */
.btn-iw-g:hover {
  background: #49C1B6;
  color: #fff;
}

/* line 111, sass/var.scss */
.text-center {
  text-align: center;
}

/* line 115, sass/var.scss */
.text-left {
  text-align: left;
}

/* line 119, sass/var.scss */
.text-right {
  text-align: right;
}

/* line 140, sass/var.scss */
.navbar-toggle {
  border: none !important;
  background-color: transparent !important;
}
/* line 144, sass/var.scss */
.navbar-toggle:hover {
  border: none !important;
  background-color: transparent !important;
}
/* line 149, sass/var.scss */
.navbar-toggle:focus {
  border: none !important;
  background-color: transparent !important;
}

/* line 195, sass/var.scss */
form {
  width: 100%;
  text-align: center;
}
/* line 199, sass/var.scss */
form label {
  text-align: left;
}
/* line 203, sass/var.scss */
form input,
form textarea {
  width: 100% !important;
}
/* line 208, sass/var.scss */
form input[type=submit] {
  width: 50% !important;
  background: #49C1B6;
  color: #FFF;
  border: none;
  border-radius: 2px;
  padding: 15px;
}
@media (min-width: 768px) {
  /* line 208, sass/var.scss */
  form input[type=submit] {
    padding: 10px 20px;
  }
}
/* line 219, sass/var.scss */
form input[type=submit]:hover {
  background: #98EAC5;
  color: #fff;
}

/* line 228, sass/var.scss */
.the-blog-post ul,
.the-page:not(.servicePage) ul {
  list-style-type: none;
  padding: 0;
}
/* line 232, sass/var.scss */
.the-blog-post ul li::before,
.the-page:not(.servicePage) ul li::before {
  color: rgba(73, 193, 182, 0.75);
  /* color of bullet or square */
  content: "\25A0";
  /* Unicode of character to precede the list item */
  font-size: 1em;
  /* em or %*/
  padding-right: 1.1225em;
  /* use em*/
  position: relative;
  top: 0;
  /* use em or % */
}

/* line 248, sass/var.scss */
.modal-header {
  color: #fff;
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
  background: #49C1B6;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #98EAC5, #49C1B6);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #49C1B6, #98EAC5);
}
/* line 258, sass/var.scss */
.modal-header i {
  color: #fff;
}
/* line 262, sass/var.scss */
.modal-header button {
  opacity: 1;
  text-shadow: none;
}

@media (max-width: 1000px) {
  /* line 15, sass/var.scss */
  .navbar-fixed-top .navbar-header {
    float: none;
  }
  /* line 19, sass/var.scss */
  .navbar-fixed-top .navbar-left,
  .navbar-fixed-top .navbar-right {
    float: none !important;
  }
  /* line 24, sass/var.scss */
  .navbar-fixed-top .navbar-toggle {
    display: block;
  }
  /* line 28, sass/var.scss */
  .navbar-fixed-top .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  /* line 33, sass/var.scss */
  .navbar-fixed-top .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  /* line 38, sass/var.scss */
  .navbar-fixed-top .navbar-collapse.collapse {
    display: none !important;
  }
  /* line 42, sass/var.scss */
  .navbar-fixed-top .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }
  /* line 47, sass/var.scss */
  .navbar-fixed-top .navbar-nav > li {
    float: none;
  }
  /* line 51, sass/var.scss */
  .navbar-fixed-top .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  /* line 56, sass/var.scss */
  .navbar-fixed-top .collapse.in {
    display: block !important;
  }
}
/* line 4, sass/main.scss */
div:focus,
input:focus {
  outline: none !important;
}

/* line 9, sass/main.scss */
a {
  color: #49C1B6;
}

/* line 13, sass/main.scss */
body {
  font-family: 'Rubik', 'Lato', verdana;
  background: #fafafa;
}
/* line 17, sass/main.scss */
body li,
body p {
  line-height: 1.7em;
  font-weight: 300;
}
/* line 23, sass/main.scss */
body p {
  font-size: 17px;
}
@media (min-width: 1300px) {
  /* line 23, sass/main.scss */
  body p {
    font-size: 17px;
  }
}

/* line 31, sass/main.scss */
.investingwell-well {
  color: #49C1B6;
}

/* line 35, sass/main.scss */
.navbar {
  background: #FFF;
}
/* line 38, sass/main.scss */
.navbar .navbar-brand {
  width: 30%;
}
/* line 41, sass/main.scss */
.navbar .navbar-brand img {
  max-width: 190px;
  margin-top: 5px;
}
@media (min-width: 360px) {
  /* line 41, sass/main.scss */
  .navbar .navbar-brand img {
    max-width: 250px;
    margin-top: 5px;
  }
}
/* line 52, sass/main.scss */
.navbar .collapsing {
  -webkit-transition: none;
  transition: none;
  display: none;
}
/* line 58, sass/main.scss */
.navbar .navbar-toggle {
  font-size: 26px;
  color: #49C1B6;
  text-align: center;
}
/* line 63, sass/main.scss */
.navbar .navbar-toggle .fa-times {
  -webkit-text-stroke: 2px #fff;
}
/* line 66, sass/main.scss */
.navbar .navbar-toggle .fa-user {
  margin-right: -10px;
}
/* line 72, sass/main.scss */
.navbar li:hover {
  background: #49C1B6 !important;
}
/* line 75, sass/main.scss */
.navbar li:hover a {
  color: #FFF !important;
}
/* line 78, sass/main.scss */
.navbar li:hover a i {
  color: #FFF;
}
/* line 84, sass/main.scss */
.navbar li a {
  font-weight: 300;
}
/* line 89, sass/main.scss */
.navbar .navbar-nav > .active {
  color: #333 !important;
  background: #98EAC5;
}
/* line 94, sass/main.scss */
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:focus,
.navbar .navbar-nav > .active > a:hover {
  color: #333 !important;
  background: #98EAC5;
}

/* line 103, sass/main.scss */
.navbar-fixed-top li {
  padding: 10px;
}
/* line 107, sass/main.scss */
.navbar-fixed-top li a i {
  color: #49C1B6;
}

@media (max-width: 1000px) {
  /* line 114, sass/main.scss */
  .navbar-fixed-top .navbar-nav {
    float: none;
    vertical-align: top;
  }
  /* line 118, sass/main.scss */
  .navbar-fixed-top .navbar-nav li {
    display: block;
  }

  /* line 123, sass/main.scss */
  .navbar .navbar-collapse {
    text-align: center;
  }

  /* line 128, sass/main.scss */
  .navbar-fixed-top .navbar-right {
    display: none;
  }
}
@media (max-width: 1000px) and (min-width: 1000px) {
  /* line 128, sass/main.scss */
  .navbar-fixed-top .navbar-right {
    display: inline-block;
  }
}

/* line 137, sass/main.scss */
.header {
  margin-top: 40px;
  background: url("../images/hands.png");
  background-size: cover;
  background-position: center;
  padding: 20px;
}
@media (min-width: 992px) {
  /* line 137, sass/main.scss */
  .header {
    padding: 100px;
  }
}
/* line 147, sass/main.scss */
.header h1 {
  color: #fff;
  font-weight: 900;
  font-size: 2.5em;
  text-shadow: 2px 2px 4px #000;
  padding-bottom: 20px;
}
@media (min-width: 400px) {
  /* line 147, sass/main.scss */
  .header h1 {
    font-size: 4em;
  }
}
/* line 158, sass/main.scss */
.header p {
  padding: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #fff;
  text-shadow: 2px 2px 4px #000;
  font-weight: 200;
  font-size: 1.4em;
}
@media (min-width: 768px) {
  /* line 158, sass/main.scss */
  .header p {
    padding: 5px 150px;
    font-size: 1.8em;
  }
}
@media (min-width: 1500px) {
  /* line 158, sass/main.scss */
  .header p {
    padding: 30px 250px;
  }
}

/* line 176, sass/main.scss */
input[type='text'] {
  font-size: 16px;
}

/* line 180, sass/main.scss */
.article {
  margin-top: 100px;
  padding-bottom: 30px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
/* line 185, sass/main.scss */
.article__title {
  font-weight: 700;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}
/* line 193, sass/main.scss */
.article__title span {
  background: #fafafa;
  padding: 0 10px;
}
/* line 199, sass/main.scss */
.article__header {
  height: 40vh;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
}
/* line 206, sass/main.scss */
.article__info {
  padding-top: 20px;
}
/* line 209, sass/main.scss */
.article__info a {
  font-weight: 500;
  color: #49C1B6;
}
/* line 215, sass/main.scss */
.article__content {
  padding-bottom: 10px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
/* line 219, sass/main.scss */
.article__content .article__tags,
.article__content h1,
.article__content h2,
.article__content h3,
.article__content h4,
.article__content h5,
.article__content h6,
.article__content p {
  padding-left: 15px;
  padding-right: 15px;
}
/* line 231, sass/main.scss */
.article__content p {
  font-size: 1.4em;
}
/* line 235, sass/main.scss */
.article__content a {
  font-weight: 500;
  color: #49C1B6;
}
/* line 240, sass/main.scss */
.article__content img {
  width: 100%;
  height: auto;
}
/* line 246, sass/main.scss */
.article__tags {
  padding: 20px 0;
}
/* line 250, sass/main.scss */
.article__related {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
/* line 253, sass/main.scss */
.article__related .articleBox {
  margin-bottom: 40px;
}
/* line 257, sass/main.scss */
.article__related .articleCard {
  padding-left: 0 !important;
  padding-right: 0 !important;
  box-shadow: 2px 2px 4px #000;
  color: #333;
  margin-bottom: 40px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
/* line 263, sass/main.scss */
.article__related .articleCard:hover {
  box-shadow: 1px 1px 2px #000;
}
/* line 269, sass/main.scss */
.article__related .articleCard .topImage {
  height: 20vh;
  background-size: cover;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
@media (max-width: 768px) {
  /* line 269, sass/main.scss */
  .article__related .articleCard .topImage {
    background-size: 100%;
  }
}
@media (max-width: 768px) {
  /* line 279, sass/main.scss */
  .article__related .articleCard .bottomInfo {
    background: #eee;
    margin-top: -10px;
    padding: 15px;
  }
}

/* line 290, sass/main.scss */
.chatHeader {
  padding-top: 10vh;
  padding-bottom: 10vh;
  height: auto;
  transition: 1s;
  background: #49C1B6;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #98EAC5, #49C1B6);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #49C1B6, #98EAC5);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* line 301, sass/main.scss */
.chatHeader .question {
  margin-top: 30vh;
  width: 50%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  /* line 301, sass/main.scss */
  .chatHeader .question {
    width: 90%;
  }
}
/* line 309, sass/main.scss */
.chatHeader .question label {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
}
/* line 315, sass/main.scss */
.chatHeader #answer {
  width: 75%;
  margin: 30px auto 0;
  color: #fff;
  font-size: 17px;
  transition: 1s;
}
@media (max-width: 768px) {
  /* line 315, sass/main.scss */
  .chatHeader #answer {
    width: 90%;
  }
}
/* line 325, sass/main.scss */
.chatHeader #answer ul {
  list-style-type: none;
}
/* line 328, sass/main.scss */
.chatHeader #answer ul li {
  margin-left: -15px;
}
/* line 331, sass/main.scss */
.chatHeader #answer ul li a {
  color: #fff;
  margin-left: -15px;
}

/* line 342, sass/main.scss */
.savingFor {
  padding-top: 20px;
  padding-bottom: 40px;
}
/* line 346, sass/main.scss */
.savingFor h3 {
  font-weight: 700;
}
/* line 350, sass/main.scss */
.savingFor .card-options {
  margin-top: 30px;
}
/* line 353, sass/main.scss */
.savingFor .card-options .box {
  color: #333;
  margin-bottom: 30px;
  text-decoration: none;
  cursor: pointer;
}
/* line 359, sass/main.scss */
.savingFor .card-options .box .box-inner.is-active {
  border-bottom: 5px solid #98EAC5;
}
/* line 360, sass/main.scss */
.savingFor .card-options .box .box-inner.is-active i {
  color: #98EAC5;
}
@media (min-width: 768px) {
  /* line 365, sass/main.scss */
  .savingFor .card-options .box .box-inner.is-active:hover {
    border-bottom: 5px solid #98EAC5;
  }
  /* line 366, sass/main.scss */
  .savingFor .card-options .box .box-inner.is-active:hover i {
    color: #98EAC5;
  }
}
/* line 374, sass/main.scss */
.savingFor .card-options .box .box-inner {
  background: #fff;
  border-radius: 3px;
  padding: 20px;
  border: 1px solid #e5e5e5;
  border-bottom: 5px solid #e5e5e5;
}
/* line 375, sass/main.scss */
.savingFor .card-options .box .box-inner i {
  font-size: 40px;
}
/* line 379, sass/main.scss */
.savingFor .card-options .box .box-inner p {
  font-weight: 300;
  margin-top: 20px;
  font-size: 10px;
}
@media (min-width: 768px) {
  /* line 379, sass/main.scss */
  .savingFor .card-options .box .box-inner p {
    font-weight: 700;
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  /* line 394, sass/main.scss */
  .savingFor .card-options .box .box-inner:hover {
    border-bottom: 5px solid #49C1B6;
  }
  /* line 395, sass/main.scss */
  .savingFor .card-options .box .box-inner:hover i {
    color: #49C1B6;
  }
}

/* line 406, sass/main.scss */
.donations {
  padding: 20px;
  padding-top: 30px;
  background: url("../images/donations-darker.png");
  background-position: center;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff !important;
}
@media (min-width: 768px) {
  /* line 406, sass/main.scss */
  .donations {
    padding: 15px 90px 90px;
  }
}
@media (min-width: 992px) {
  /* line 406, sass/main.scss */
  .donations {
    background: url("../images/donations.png");
    background-position: left;
  }
}
/* line 423, sass/main.scss */
.donations h2 {
  font-size: 2.6em;
  font-weight: 700;
  margin-bottom: 50px;
  color: #fff;
}
/* line 430, sass/main.scss */
.donations p {
  font-size: 18px;
  font-weight: 300;
  color: #fff;
}
/* line 436, sass/main.scss */
.donations .btn {
  margin-top: 20px;
  color: #fff;
}

/* line 442, sass/main.scss */
.robots {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
/* line 445, sass/main.scss */
.robots .text {
  padding: 5px 15px 15px;
}
@media (min-width: 992px) {
  /* line 445, sass/main.scss */
  .robots .text {
    padding: 30px;
  }
}
@media (min-width: 1800px) {
  /* line 445, sass/main.scss */
  .robots .text {
    padding: 90px;
  }
}
/* line 454, sass/main.scss */
.robots .text h2 {
  font-size: 2.6em;
  font-weight: 700;
}
/* line 459, sass/main.scss */
.robots .text hr {
  height: 1px;
  background-color: #333;
  border: none;
}
/* line 465, sass/main.scss */
.robots .text p {
  font-size: 17px;
  font-weight: 300;
}
@media (min-width: 1600px) {
  /* line 465, sass/main.scss */
  .robots .text p {
    font-size: 22px;
    margin-top: 30px;
  }
}
/* line 474, sass/main.scss */
.robots .text .btn {
  margin-top: 20px;
}
/* line 479, sass/main.scss */
.robots .image {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
/* line 482, sass/main.scss */
.robots .image img {
  width: 100%;
}

/* line 488, sass/main.scss */
.personalised {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
@media (min-width: 992px) {
  /* line 488, sass/main.scss */
  .personalised {
    padding-bottom: 0;
  }
}
/* line 494, sass/main.scss */
.personalised .text {
  padding: 30px;
}
@media (min-width: 1800px) {
  /* line 494, sass/main.scss */
  .personalised .text {
    padding: 90px;
  }
}
/* line 500, sass/main.scss */
.personalised .text h2 {
  font-size: 2.6em;
  font-weight: 700;
}
@media (min-width: 768px) {
  /* line 500, sass/main.scss */
  .personalised .text h2 {
    margin-bottom: 50px;
  }
}
/* line 508, sass/main.scss */
.personalised .text p {
  font-size: 18px;
  font-weight: 300;
}
@media (min-width: 1300px) {
  /* line 508, sass/main.scss */
  .personalised .text p {
    font-size: 22px;
    margin-top: 30px;
  }
}
/* line 517, sass/main.scss */
.personalised .text .btn {
  margin-top: 20px;
}
/* line 522, sass/main.scss */
.personalised .image {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
/* line 525, sass/main.scss */
.personalised .image img {
  width: 100%;
}

/* line 531, sass/main.scss */
.service-title {
  padding-top: 30px;
}

/* line 535, sass/main.scss */
.added-content {
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  /* line 535, sass/main.scss */
  .added-content {
    padding: 45px 45px 0;
  }
}

/* line 542, sass/main.scss */
.service {
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  /* line 542, sass/main.scss */
  .service {
    padding: 30px;
  }
}
/* line 548, sass/main.scss */
.service h3 {
  font-weight: 700;
}
/* line 552, sass/main.scss */
.service table {
  margin-top: 30px;
}
/* line 555, sass/main.scss */
.service table thead {
  background: #4A4A4A;
  color: #fff;
}
/* line 559, sass/main.scss */
.service table thead th {
  color: #fff;
  padding: 7px;
  border-radius: 3px 3px 0 0;
}
/* line 566, sass/main.scss */
.service table tbody {
  border-left: 1px solid #eee;
}
/* line 569, sass/main.scss */
.service table tbody tr {
  border-bottom: 1px solid #eee;
}
/* line 572, sass/main.scss */
.service table tbody tr.firstRow {
  font-weight: 700;
}
/* line 575, sass/main.scss */
.service table tbody tr.firstRow i {
  cursor: pointer;
}
/* line 580, sass/main.scss */
.service table tbody tr:nth-of-type(even) {
  background: #F2F2F2;
}
/* line 584, sass/main.scss */
.service table tbody tr td {
  padding: 7px;
  border-right: 1px solid #eee;
}
/* line 588, sass/main.scss */
.service table tbody tr td .fa-check {
  color: #72E270;
}
/* line 592, sass/main.scss */
.service table tbody tr td .fa-times {
  color: #852525;
}

/* line 601, sass/main.scss */
.clients {
  background: #eee;
  padding: 20px 0;
}
/* line 605, sass/main.scss */
.clients h2 {
  font-weight: 700;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  /* line 610, sass/main.scss */
  .clients .clientbox-lower {
    opacity: 0.75;
    margin-top: 30px;
    transition: 0.1s;
  }
  /* line 616, sass/main.scss */
  .clients .clientbox-lower:hover {
    opacity: 1;
    margin-top: 20px;
  }
}
/* line 623, sass/main.scss */
.clients .clientbox {
  margin-bottom: 20px;
}
/* line 626, sass/main.scss */
.clients .clientbox .clientBoxInner {
  background: #fff;
  border-radius: 4px;
  box-shadow: 2px 2px 4px #000;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 633, sass/main.scss */
.clients .clientbox .clientBoxInner .clientImage {
  width: 50px;
  height: 50px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  background: #eee;
}
/* line 641, sass/main.scss */
.clients .clientbox .clientBoxInner .clientImage img {
  display: inline;
  margin: 0 auto;
  height: auto;
  width: 55px;
  margin-left: -75%;
}
/* line 650, sass/main.scss */
.clients .clientbox .clientBoxInner .nameRating {
  margin-top: -15px;
}
/* line 653, sass/main.scss */
.clients .clientbox .clientBoxInner .nameRating i {
  color: #438787;
}
/* line 659, sass/main.scss */
.clients .clientbox .clientBoxInner .reviewContent p {
  font-size: 10px;
}
@media (min-width: 1000px) {
  /* line 659, sass/main.scss */
  .clients .clientbox .clientBoxInner .reviewContent p {
    font-size: 14px;
  }
}

/* line 670, sass/main.scss */
.steps {
  padding: 10px 20px 20px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  /* line 670, sass/main.scss */
  .steps {
    padding: 10px 30px 30px;
  }
}
/* line 677, sass/main.scss */
.steps h2 {
  font-weight: 700;
  margin-bottom: 20px;
}
/* line 682, sass/main.scss */
.steps .image {
  text-align: center;
}
/* line 685, sass/main.scss */
.steps .image img {
  width: 50%;
}
@media (max-width: 768px) {
  /* line 690, sass/main.scss */
  .steps .theSteps {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
/* line 695, sass/main.scss */
.steps .theSteps ul {
  list-style-type: none;
}
@media (max-width: 768px) {
  /* line 695, sass/main.scss */
  .steps .theSteps ul {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
/* line 701, sass/main.scss */
.steps .theSteps ul li {
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  /* line 704, sass/main.scss */
  .steps .theSteps ul li .theNumber {
    text-align: left !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
/* line 711, sass/main.scss */
.steps .theSteps ul li img {
  width: 100%;
  padding-top: 20px;
}
@media (max-width: 768px) {
  /* line 711, sass/main.scss */
  .steps .theSteps ul li img {
    width: 75%;
  }
}
/* line 719, sass/main.scss */
.steps .theSteps ul li h3 {
  font-weight: 700;
}

/* line 727, sass/main.scss */
.flowchart {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
/* line 730, sass/main.scss */
.flowchart h3 {
  background: #494949;
  color: #fff;
  padding: 10px 0;
  font-weight: 700;
}
/* line 737, sass/main.scss */
.flowchart .flowbox {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
/* line 740, sass/main.scss */
.flowchart .flowbox h4 {
  padding: 10px 0;
  font-weight: 300;
  min-height: 40px;
}
/* line 746, sass/main.scss */
.flowchart .flowbox img {
  width: 100%;
}
/* line 750, sass/main.scss */
.flowchart .flowbox .para-holder {
  padding: 20px;
}
/* line 753, sass/main.scss */
.flowchart .flowbox .para-holder p {
  padding: 10px;
  background: #eee;
  border-radius: 4px;
  min-height: 120px;
  position: relative;
}
/* line 760, sass/main.scss */
.flowchart .flowbox .para-holder p:after, .flowchart .flowbox .para-holder p:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  border-color: #eee;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
/* line 773, sass/main.scss */
.flowchart .flowbox .para-holder p:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #eee;
  border-width: 10px;
  margin-left: -10px;
}
/* line 780, sass/main.scss */
.flowchart .flowbox .para-holder p:before {
  border-color: rgba(245, 245, 245, 0);
  border-bottom-color: #eee;
  border-width: 16px;
  margin-left: -16px;
}

/* line 862, sass/main.scss */
.charity {
  background: #fff;
  padding-left: 0;
  padding-right: 0;
}
/* line 867, sass/main.scss */
.charity .logo {
  text-align: center;
}
/* line 870, sass/main.scss */
.charity .logo img {
  width: 50%;
}
@media (min-width: 768px) {
  /* line 870, sass/main.scss */
  .charity .logo img {
    padding-bottom: 20px;
  }
}
/* line 879, sass/main.scss */
.charity .tagline h2 {
  font-weight: 700;
  padding-bottom: 20px;
}
@media (max-width: 768px) {
  /* line 879, sass/main.scss */
  .charity .tagline h2 {
    text-align: center;
  }
}
/* line 888, sass/main.scss */
.charity .charityInfo {
  padding: 0 30px;
}
@media (min-width: 768px) {
  /* line 888, sass/main.scss */
  .charity .charityInfo {
    font-size: 16px;
  }
}
/* line 895, sass/main.scss */
.charity .charity-image {
  background: url("../images/chas-charity.jpg");
  background-size: cover;
  background-position: top;
  padding: 15%;
}

/* line 903, sass/main.scss */
.fscs {
  background: #C04848;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #98EAC5, #49C1B6);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #49C1B6, #98EAC5);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 30px;
}
@media (min-width: 768px) {
  /* line 903, sass/main.scss */
  .fscs {
    padding: 90px;
  }
}
/* line 915, sass/main.scss */
.fscs img {
  width: 50%;
}
/* line 919, sass/main.scss */
.fscs .fscs-text {
  margin-top: 30px;
  color: #fff;
}
/* line 923, sass/main.scss */
.fscs .fscs-text a {
  color: #fff !important;
  text-decoration: underline;
}
@media (min-width: 1500px) {
  /* line 928, sass/main.scss */
  .fscs .fscs-text p {
    font-size: 22px;
  }
}

@media (min-width: 768px) {
  /* line 935, sass/main.scss */
  .articles {
    padding: 50px 50px 20px;
  }
}
/* line 940, sass/main.scss */
.articles h3 {
  font-weight: 700;
  margin-bottom: 20px;
}
/* line 945, sass/main.scss */
.articles .articleBox {
  margin-bottom: 40px;
}
/* line 949, sass/main.scss */
.articles .articleCard {
  padding-left: 0 !important;
  padding-right: 0 !important;
  box-shadow: 2px 2px 4px #000;
  -moz-box-shadow: 2px 2px 4px #000;
  -webkit-box-shadow: 2px 2px 4px #000;
  box-shadow: 2px 2px 4px #000;
  color: #333;
  margin-bottom: 40px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
@media (max-width: 768px) {
  /* line 949, sass/main.scss */
  .articles .articleCard {
    background: #eee;
  }
}
/* line 961, sass/main.scss */
.articles .articleCard:hover {
  box-shadow: 1px 1px 2px #000;
  text-decoration: none;
}
/* line 968, sass/main.scss */
.articles .articleCard .topImage {
  height: 30vh;
  background-size: cover;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
@media (max-width: 768px) {
  /* line 968, sass/main.scss */
  .articles .articleCard .topImage {
    background-size: 100%;
  }
}
@media (max-width: 768px) {
  /* line 978, sass/main.scss */
  .articles .articleCard .bottomInfo {
    background: #eee;
    margin-top: -10px;
    padding: 15px;
  }
}

/* line 988, sass/main.scss */
.charity-archive {
  padding-top: 10px !important;
}
/* line 991, sass/main.scss */
.charity-archive .charities-info {
  margin-bottom: 20px;
  font-size: 16px;
}

/* line 997, sass/main.scss */
.our-charities {
  text-align: center;
}
/* line 1000, sass/main.scss */
.our-charities h3 {
  font-weight: 700;
  padding-bottom: 20px;
}
/* line 1005, sass/main.scss */
.our-charities img {
  width: auto;
  max-width: 100%;
  max-height: 100px;
  padding-bottom: 20px;
}

/* line 1013, sass/main.scss */
.blog-post-list {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-top: 100px;
}
/* line 1017, sass/main.scss */
.blog-post-list .header {
  height: 40vh;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
}
/* line 1024, sass/main.scss */
.blog-post-list__title {
  font-weight: 700;
  width: 100%;
  text-align: center;
}
@media (min-width: 768px) {
  /* line 1024, sass/main.scss */
  .blog-post-list__title {
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
  }
  /* line 1033, sass/main.scss */
  .blog-post-list__title .lined {
    background: #fafafa;
    padding: 0 10px;
  }
}
@media (min-width: 768px) {
  /* line 1040, sass/main.scss */
  .blog-post-list .articles {
    padding: 50px 50px 20px;
  }
}
/* line 1045, sass/main.scss */
.blog-post-list .articles h3 {
  font-weight: 700;
  margin-bottom: 20px;
}
/* line 1050, sass/main.scss */
.blog-post-list .articles .articleBox {
  margin-bottom: 40px;
}
/* line 1054, sass/main.scss */
.blog-post-list .articles .articleCard {
  padding-left: 0 !important;
  padding-right: 0 !important;
  box-shadow: 2px 2px 4px #000;
  -moz-box-shadow: 2px 2px 4px #000;
  -webkit-box-shadow: 2px 2px 4px #000;
  box-shadow: 2px 2px 4px #000;
  color: #333;
  margin-bottom: 40px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
@media (max-width: 768px) {
  /* line 1054, sass/main.scss */
  .blog-post-list .articles .articleCard {
    background: #eee;
  }
}
/* line 1066, sass/main.scss */
.blog-post-list .articles .articleCard:hover {
  box-shadow: 1px 1px 2px #000;
  text-decoration: none;
}
/* line 1073, sass/main.scss */
.blog-post-list .articles .articleCard .topImage {
  height: 30vh;
  background-size: cover;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
@media (max-width: 768px) {
  /* line 1073, sass/main.scss */
  .blog-post-list .articles .articleCard .topImage {
    background-size: 100%;
  }
}
@media (max-width: 768px) {
  /* line 1083, sass/main.scss */
  .blog-post-list .articles .articleCard .bottomInfo {
    background: #eee;
    margin-top: -10px;
    padding: 15px;
  }
}

/* line 1102, sass/main.scss */
.the-page {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-top: 100px;
}
/* line 1106, sass/main.scss */
.the-page .header {
  height: 40vh;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
}
/* line 1113, sass/main.scss */
.the-page__title {
  font-weight: 700;
  width: 100%;
  text-align: center;
}
@media (min-width: 768px) {
  /* line 1113, sass/main.scss */
  .the-page__title {
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
  }
  /* line 1122, sass/main.scss */
  .the-page__title .lined {
    background: #fafafa;
    padding: 0 10px;
  }
}
/* line 1129, sass/main.scss */
.the-page__content {
  padding-bottom: 30px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
@media (max-width: 768px) {
  /* line 1133, sass/main.scss */
  .the-page__content form,
  .the-page__content h1,
  .the-page__content h2,
  .the-page__content h3,
  .the-page__content h4,
  .the-page__content h5,
  .the-page__content h6,
  .the-page__content p,
  .the-page__content ul,
  .the-page__content li {
    padding-left: 15px;
    padding-right: 15px;
  }
}
/* line 1149, sass/main.scss */
.the-page__content p {
  font-size: 1.2em;
}
/* line 1153, sass/main.scss */
.the-page__content a {
  font-weight: 500;
  color: #49C1B6;
}
/* line 1158, sass/main.scss */
.the-page__content img {
  width: 100%;
  height: auto;
}
/* line 1163, sass/main.scss */
.the-page__content form {
  width: 100%;
  text-align: center;
}
/* line 1167, sass/main.scss */
.the-page__content form label {
  text-align: left;
}
/* line 1171, sass/main.scss */
.the-page__content form input,
.the-page__content form textarea {
  width: 100% !important;
}
/* line 1176, sass/main.scss */
.the-page__content form input[type=submit] {
  width: 50% !important;
  background: #49C1B6;
  color: #FFF;
  border: none;
  border-radius: 2px;
  padding: 15px;
}
@media (min-width: 768px) {
  /* line 1176, sass/main.scss */
  .the-page__content form input[type=submit] {
    padding: 10px 20px;
  }
}
/* line 1187, sass/main.scss */
.the-page__content form input[type=submit]:hover {
  background: #98EAC5;
  color: #fff;
}

/* line 1196, sass/main.scss */
.servicePage {
  margin-top: 0;
}
/* line 1199, sass/main.scss */
.servicePage .header {
  height: 50vh;
}
/* line 1203, sass/main.scss */
.servicePage .the-page__content {
  padding: 30px !important !important;
}

/* line 1208, sass/main.scss */
.last-cta {
  padding: 50px;
  background: url("../images/kelpies-grad.jpg");
  background-size: cover;
  background-position: center;
}
/* line 1214, sass/main.scss */
.last-cta h3 {
  font-weight: 700;
  margin-bottom: 40px;
  color: #FFF;
}
/* line 1220, sass/main.scss */
.last-cta .btn-iw-b, .last-cta .pager li a, .pager li .last-cta a {
  background: #49C1B6;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #98EAC5, #49C1B6);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #49C1B6, #98EAC5);
  padding: 10px 20px;
  font-size: 20px;
  border: 2px #FFF solid;
}

/* line 1232, sass/main.scss */
.not-found-message {
  padding: 75px 15px;
}
@media (min-width: 768px) {
  /* line 1232, sass/main.scss */
  .not-found-message {
    padding: 100px;
  }
}
/* line 1238, sass/main.scss */
.not-found-message img {
  width: 50%;
}
@media (min-width: 768px) {
  /* line 1238, sass/main.scss */
  .not-found-message img {
    width: 10%;
  }
}
/* line 1245, sass/main.scss */
.not-found-message .goBack {
  color: #49C1B6;
  font-weight: 500;
  cursor: pointer;
  text-decoration: underline;
}

/* line 1253, sass/main.scss */
.footer {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
/* line 1256, sass/main.scss */
.footer .navbar-collapse.collapse {
  display: block;
}
/* line 1260, sass/main.scss */
.footer .navbar-nav,
.footer .navbar-nav > li {
  float: left;
}
/* line 1265, sass/main.scss */
.footer .navbar-nav.navbar-right:last-child {
  margin-right: -15px;
}
@media (min-width: 851px) {
  /* line 1269, sass/main.scss */
  .footer .navbar-right {
    float: right !important;
  }
}
@media (max-width: 850px) {
  /* line 1274, sass/main.scss */
  .footer .navbar .navbar-nav {
    display: inline-block !important;
    float: none !important;
    vertical-align: top;
  }
  /* line 1275, sass/main.scss */
  .footer .navbar .navbar-nav li {
    display: inline-block !important;
    float: none !important;
  }
  /* line 1284, sass/main.scss */
  .footer .navbar .navbar-collapse {
    text-align: center;
  }
}
/* line 1289, sass/main.scss */
.footer .navbar {
  border-radius: 0;
  margin-bottom: 0;
  background-color: #eee;
  border: none;
}
/* line 1297, sass/main.scss */
.footer .navbar .navbar-right li a {
  font-size: 18px;
}
/* line 1304, sass/main.scss */
.footer .footer-content {
  padding: 30px 30px 10px;
}
/* line 1307, sass/main.scss */
.footer .footer-content .contact-info {
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  /* line 1307, sass/main.scss */
  .footer .footer-content .contact-info {
    padding-left: 90px;
  }
}
/* line 1314, sass/main.scss */
.footer .footer-content .contact-info table tr {
  cursor: pointer;
}
/* line 1317, sass/main.scss */
.footer .footer-content .contact-info table tr td {
  padding: 5px;
}
/* line 1320, sass/main.scss */
.footer .footer-content .contact-info table tr td:nth-child(1) {
  padding-left: 0;
}
/* line 1324, sass/main.scss */
.footer .footer-content .contact-info table tr td i {
  color: #49C1B6;
}
/* line 1333, sass/main.scss */
.footer .footer-content .disclaimer p {
  font-size: 14px;
}
