/* line 56, sass/var.scss */
.btn-iw-p {
  background: #A09ECB;
  color: #FFF;
  border: none;
  border-radius: 2px;
  padding: 15px;
}
@media (min-width: 768px) {
  /* line 56, sass/var.scss */
  .btn-iw-p {
    padding: 10px 20px;
  }
}
/* line 66, sass/var.scss */
.btn-iw-p:hover {
  background: #294890;
  color: #fff;
}

/* line 72, sass/var.scss */
.btn-iw-b {
  background: #294890;
  color: #FFF;
  border: none;
  border-radius: 2px;
  padding: 3%;
}
@media (min-width: 768px) {
  /* line 72, sass/var.scss */
  .btn-iw-b {
    padding: 1% 2%;
  }
}
/* line 81, sass/var.scss */
.btn-iw-b:hover {
  background: #A09ECB;
  color: #fff;
}

/* line 87, sass/var.scss */
.text-center {
  text-align: center;
}

/* line 91, sass/var.scss */
.text-left {
  text-align: left;
}

/* line 95, sass/var.scss */
.text-right {
  text-align: right;
}

/* line 115, sass/var.scss */
.navbar-toggle {
  border: none !important;
  background-color: transparent !important;
}
/* line 119, sass/var.scss */
.navbar-toggle:hover {
  border: none !important;
  background-color: transparent !important;
}
/* line 124, sass/var.scss */
.navbar-toggle:focus {
  border: none !important;
  background-color: transparent !important;
}
