@import 'var'; // @include justify-nav;
@include change-nav-break;

div:focus,
input:focus {
  outline: none!important;
}

a {
  color: $blue;
}

body {
  font-family: 'Rubik', 'Lato', verdana;
  background: #fafafa;

  li,
  p {
    line-height: 1.7em;
    font-weight: 300;
  }

  p {
    font-size: 17px;
    @media(min-width:1300px) {
      font-size: 17px;
    }
  }
}

.investingwell-well {
  color: $blue;
}

.navbar {
  background: $white;

  .navbar-brand {
    width: 30%;

    img {
      max-width: 250px;
      margin-top: -12px;
    }
  }

  .navbar-toggle {
    font-size: 26px;
    color: $blue;
  }

  li {
    &:hover {
      background: $blue!important;

      a {
        color: $white!important;

        i {
          color: $white;
        }
      }
    }

    a {
      font-weight: 300;
    }
  }

  .navbar-nav > .active {
    color: #333!important;
    background: $green;
  }

  .navbar-nav > .active > a,
  .navbar-nav > .active > a:focus,
  .navbar-nav > .active > a:hover {
    color: #333!important;
    background: $green;
  }
}

.navbar-fixed-top {
  li {
    padding: 10px;

    a {
      i {
        color: $blue;
      }
    }
  }
}

.header {
  margin-top: 40px;
  background: url("../images/hands.png");
  background-size: cover;
  background-position: center;
  padding: 20px;
  @media(min-width:768px) {
    padding: 100px;
  }

  h1 {
    color: #fff;
    font-weight: 300;
    font-size: 4em;
    text-shadow: 2px 2px 4px #000;
    padding-bottom: 20px;
  }

  p {
    padding: 20px;
    @media(min-width:768px) {
      padding: 5px 150px;
      font-size: 1.8em;
    }
    padding-top: 5px;
    padding-bottom: 5px;
    @media(min-width:1500px) {
      padding: 30px 250px;
    }
    color: #fff;
    text-shadow: 2px 2px 4px #000;
    font-weight: 200;
    font-size: 1.4em;
  }
}

input[type='text'] {
  font-size: 16px;
}

.article {
  margin-top: 100px;
  padding-bottom: 30px;
  @include no-pad;

  &__title {
    font-weight: 700;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;

    span {
      background: #fafafa;
      padding: 0 10px;
    }
  }

  &__header {
    height: 40vh;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
  }

  &__info {
    padding-top: 20px;

    a {
      font-weight: 500;
      color: $blue;
    }
  }

  &__content {
    padding-bottom: 10px;
    @include no-pad;

    .article__tags,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      padding-left: 15px;
      padding-right: 15px;
    }

    p {
      font-size: 1.4em;
    }

    a {
      font-weight: 500;
      color: $blue;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &__tags {
    padding: 20px 0;
  }

  &__related {
    @include no-pad;

    .articleBox {
      margin-bottom: 40px;
    }

    .articleCard {
      @include no-pad;
      box-shadow: 2px 2px 4px #000;
      color: #333;
      margin-bottom: 40px;

      &:hover {
        box-shadow: 1px 1px 2px #000;
      }
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;

      .topImage {
        height: 20vh;
        background-size: cover;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        @media(max-width:768px) {
          background-size: 100%;
        }
      }

      .bottomInfo {
        @media(max-width:768px) {
          background: #eee;
          margin-top: -10px;
          padding: 15px;
        }
      }
    }
  }
}

.chatHeader {
  padding-top: 10vh;
  padding-bottom: 10vh;
  height: auto;
  transition: 1s;
  background: $blue;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, $green, $blue);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, $blue, $green);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  .question {
    margin-top: 30vh;
    width: 50%;
    @media(max-width: 768px) {
      width: 90%;
    }
    margin: 0 auto;

    label {
      color: #fff;
      text-shadow: 1px 1px 3px #000;
    }
  }

  #answer {
    width: 75%;
    @media(max-width: 768px) {
      width: 90%;
    }
    margin: 30px auto 0;
    color: #fff;
    font-size: 17px;
    transition: 1s;

    ul {
      list-style-type: none;

      li {
        margin-left: -15px;

        a {
          color: #fff;
          margin-left: -15px;
        }
      }
    }
  }

  input {}
}

.savingFor {
  padding-top: 20px;
  padding-bottom: 40px;

  h3 {
    font-weight: 700;
  }

  .card-options {
    margin-top: 30px;

    .box {
      color: #333;
      margin-bottom: 30px;
      text-decoration: none;
      cursor: pointer;

      .box-inner.is-active {
        i {
          color: $green;
        }
        border-bottom: 5px solid $green;
        @media(min-width:768px) {
          &:hover {
            i {
              color: $green;
            }
            border-bottom: 5px solid $green;
          }
        }
      }

      .box-inner {
        i {
          font-size: 40px;
        }

        p {
          font-weight: 300;
          margin-top: 20px;
          font-size:10px!important;
          @media(min-width:768px) {
            font-weight:700;
            font-size:17px;
          }
        }
        background: #fff;
        border-radius: 3px;
        padding: 20px;
        border: 1px solid #e5e5e5;
        border-bottom: 5px solid #e5e5e5;
        @media(min-width:768px) {
          &:hover {
            i {
              color: $blue;
            }
            border-bottom: 5px solid $blue;
          }
        }
      }
    }
  }
}

.donations {
  padding: 20px;
  @media(min-width:768px) {
    padding: 15px 90px 90px;
  }
  padding-top: 30px;
  background: url("../images/donations-darker.png");
  background-position: center;
  background-size: cover!important;
  background-repeat: no-repeat;
  @media(min-width:992px) {
    background: url("../images/donations.png");
    background-position: left;
  }
  @include full-background;
  color: #fff;

  h2 {
    font-size: 2.6em;
    font-weight: 700;
    margin-bottom: 50px;
  }

  p {
    font-size: 18px;
    font-weight: 300;
  }

  .btn {
    margin-top: 20px;
  }
}

.robots {
  @include no-pad;

  .text {
    padding: 5px 15px 15px;
    @media(min-width:992px) {
      padding: 30px;
    }
    @media(min-width:1800px) {
      padding: 90px;
    }

    h2 {
      font-size: 2.6em;
      font-weight: 700;
    }

    hr {
      height: 1px;
      background-color: #333;
      border: none;
    }

    p {
      @media(min-width:1600px) {
        font-size: 22px;
        margin-top: 30px;
      }
      font-size: 17px;
      font-weight: 300;
    }

    .btn {
      margin-top: 20px;
    }
  }

  .image {
    @include no-pad;

    img {
      width: 100%;
    }
  }
}

.personalised {
  @include no-pad;
  @media(min-width:992px) {
    padding-bottom: 0;
  }

  .text {
    padding: 30px;
    @media(min-width:1800px) {
      padding: 90px;
    }

    h2 {
      font-size: 2.6em;
      font-weight: 700;
      @media(min-width:768px) {
        margin-bottom: 50px;
      }
    }

    p {
      font-size: 18px;
      @media(min-width:1300px) {
        font-size: 22px;
        margin-top: 30px;
      }
      font-weight: 300;
    }

    .btn {
      margin-top: 20px;
    }
  }

  .image {
    @include no-pad;

    img {
      width: 100%;
    }
  }
}

.service-title {
  padding-top: 30px;
}

.added-content {
  @media(min-width:768px) {
    padding: 45px 45px 0;
  }
  padding-bottom: 30px;
}

.service {
  @media(min-width:768px) {
    padding: 30px;
  }
  padding-bottom: 30px;

  h3 {
    font-weight: 700;
  }

  table {
    margin-top: 30px;

    thead {
      background: #4A4A4A;
      color: #fff;

      th {
        color: #fff;
        padding: 7px;
        border-radius: 3px 3px 0 0;
      }
    }

    tbody {
      border-left: 1px solid #eee;

      tr {
        border-bottom: 1px solid #eee;

        &.firstRow {
          font-weight: 700;

          i {
            cursor: pointer;
          }
        }

        &:nth-of-type(even) {
          background: #F2F2F2;
        }

        td {
          padding: 7px;
          border-right: 1px solid #eee;

          .fa-check {
            color: #72E270;
          }

          .fa-times {
            color: #852525;
          }
        }
      }
    }
  }
}

.clients {
  background: #eee;
  padding: 20px 0;

  h2 {
    font-weight: 700;
    padding-bottom: 20px;
  }

  .clientbox-lower {
    @media(min-width:768px) {
      opacity: 0.75;
      margin-top: 30px;
      transition: 0.1s;

      &:hover {
        opacity: 1;
        margin-top: 20px;
      }
    }
  }

  .clientbox {
    margin-bottom: 20px;

    .clientBoxInner {
      background: #fff;
      border-radius: 4px;
      box-shadow: 2px 2px 4px #000;
      padding-top: 10px;
      padding-bottom: 10px;

      .clientImage {
        width: 50px;
        height: 50px;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        background: #eee;

        img {
          display: inline;
          margin: 0 auto;
          height: auto;
          width: 55px;
          margin-left: -75%;
        }
      }

      .nameRating {
        margin-top: -15px;

        i {
          color: #438787;
        }
      }

      .reviewContent {
        p {
          font-size: 10px;
          @media(min-width:1000px) {
            font-size: 14px;
          }
        }
      }
    }
  }
}

.steps {
  @media(min-width:768px) {
    padding: 10px 30px 30px;
  }
  padding: 10px 20px 20px;
  margin-bottom: 20px;

  h2 {
    font-weight: 700;
    margin-bottom: 20px;
  }

  .image {
    text-align: center;

    img {
      width: 50%;
    }
  }

  .theSteps {
    @media(max-width:768px) {
      @include no-pad;
    }

    ul {
      list-style-type: none;
      @media(max-width:768px) {
        @include no-pad;
      }

      li {
        margin-bottom: 20px;

        .theNumber {
          @media(max-width:768px) {
            text-align: left!important;
            @include no-pad;
          }
        }

        img {
          width: 100%;
          padding-top: 20px;
          @media(max-width:768px) {
            width: 75%;
          }
        }

        h3 {
          font-weight: 700;
        }
      }
    }
  }
}

.flowchart {
  @include no-pad;

  h3 {
    background: #494949;
    color: #fff;
    padding: 10px 0;
    font-weight: 700;
  }

  .flowbox {
    @include no-pad;

    h4 {
      padding: 10px 0;
      font-weight: 300;
      min-height: 40px;
    }

    img {
      width: 100%;
    }

    .para-holder {
      padding: 20px;

      p {
        padding: 10px;
        background: #eee;
        border-radius: 4px;
        min-height: 120px;
        position: relative;

        &:after,
        &:before {
          bottom: 100%;
          left: 50%;
          border: solid transparent;
          border-color: #eee;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
        }

        &:after {
          border-color: rgba(136, 183, 213, 0);
          border-bottom-color: #eee;
          border-width: 10px;
          margin-left: -10px;
        }

        &:before {
          border-color: rgba(245, 245, 245, 0);
          border-bottom-color: #eee;
          border-width: 16px;
          margin-left: -16px;
        }
      }

      .arrow_box:after {}

      .arrow_box:before {}
    }
  }
}
// .flowchart-mobile {
//      @include no-pad;
//
//      h3 {
//           background: #494949;
//           color: #fff;
//           padding: 10px 15px;
//           font-weight: 700;
//      }
//
//      .flowbox {
//           @include no-pad;
//           text-align: center;
//           h4 {
//                padding: 10px 0;
//                font-weight: 300;
//                min-height: 40px;
//           }
//
//           img {
//                width: 30%;
//           }
//
//           .para-holder {
//                padding: 20px;
//
//                p {
//                     padding: 10px;
//                     background: #eee;
//                     border-radius: 4px;
//                     min-height: 120px;
//                     position: relative;
//                     &:after, &:before {
//                          bottom: 100%;
//                          left: 50%;
//                          border: solid transparent;
//                          border-color:#eee;
//                          content: " ";
//                          height: 0;
//                          width: 0;
//                          position: absolute;
//                          pointer-events: none;
//                     }
//                     &:after {
//                          border-color: rgba(136, 183, 213, 0);
//                          border-bottom-color: #eee;
//                          border-width: 10px;
//                          margin-left: -10px;
//                     }
//                     &:before {
//                          border-color: rgba(245, 245, 245, 0);
//                          border-bottom-color: #eee;
//                          border-width: 16px;
//                          margin-left: -16px;
//                     }
//                }
//
//                .arrow_box:after {
//
//                }
//
//                .arrow_box:before {
//
//                }
//           }
//      }
// }

.charity {
  background: #fff;
  padding-left: 0;
  padding-right: 0;

  .logo {
    text-align: center;

    img {
      width: 50%;
      @media(min-width:768px) {
        padding-bottom: 20px;
      }
    }
  }

  .tagline {
    h2 {
      font-weight: 700;
      padding-bottom: 20px;
      @media(max-width:768px) {
        text-align: center;
      }
    }
  }

  .charityInfo {
    padding: 0 30px;
    @media(min-width:768px) {
      font-size: 16px;
    }
  }

  .charity-image {
    background: url("../images/chas-charity.jpg");
    background-size: cover;
    background-position: top;
    padding: 15%;
  }
}

.fscs {
  background: #C04848;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, $green, $blue);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, $blue, $green);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 90px;

  img {
    width: 50%;
  }

  .fscs-text {
    margin-top: 30px;
    color: #fff;
    @media(min-width:1500px) {
      p {
        font-size: 22px;
      }
    }
  }
}

.articles {
  @media(min-width:768px) {
    padding: 50px 50px 20px;
  }

  h3 {
    font-weight: 700;
    margin-bottom: 20px;
  }

  .articleBox {
    margin-bottom: 40px;
  }

  .articleCard {
    @include no-pad;
    box-shadow: 2px 2px 4px #000;
    -moz-box-shadow: 2px 2px 4px #000;
    -webkit-box-shadow: 2px 2px 4px #000;
    box-shadow: 2px 2px 4px #000;
    color: #333;
    margin-bottom: 40px;
    @media(max-width:768px) {
      background: #eee;
    }

    &:hover {
      box-shadow: 1px 1px 2px #000;
      text-decoration: none;
    }
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;

    .topImage {
      height: 30vh;
      background-size: cover;
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
      @media(max-width:768px) {
        background-size: 100%;
      }
    }

    .bottomInfo {
      @media(max-width:768px) {
        background: #eee;
        margin-top: -10px;
        padding: 15px;
      }
    }
  }
}

.charity-archive {
  padding-top: 10px!important;

  .charities-info {
    margin-bottom: 20px;
    font-size: 16px;
  }
}

.our-charities {
  text-align: center;

  h3 {
    font-weight: 700;
    padding-bottom: 20px;
  }

  img {
    width: auto;
    max-width: 100%;
    max-height: 100px;
    padding-bottom: 20px;
  }
}

.blog-post-list {
  @include no-pad;
  margin-top: 100px;

  .header {
    height: 40vh;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
  }

  &__title {
    font-weight: 700;
    width: 100%;
    text-align: center;
    @media(min-width:768px) {
      border-bottom: 1px solid #000;
      line-height: 0.1em;
      margin: 10px 0 20px;

      .lined {
        background: #fafafa;
        padding: 0 10px;
      }
    }
  }

  .articles {
    @media(min-width:768px) {
      padding: 50px 50px 20px;
    }

    h3 {
      font-weight: 700;
      margin-bottom: 20px;
    }

    .articleBox {
      margin-bottom: 40px;
    }

    .articleCard {
      @include no-pad;
      box-shadow: 2px 2px 4px #000;
      -moz-box-shadow: 2px 2px 4px #000;
      -webkit-box-shadow: 2px 2px 4px #000;
      box-shadow: 2px 2px 4px #000;
      color: #333;
      margin-bottom: 40px;
      @media(max-width:768px) {
        background: #eee;
      }

      &:hover {
        box-shadow: 1px 1px 2px #000;
        text-decoration: none;
      }
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;

      .topImage {
        height: 30vh;
        background-size: cover;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        @media(max-width:768px) {
          background-size: 100%;
        }
      }

      .bottomInfo {
        @media(max-width:768px) {
          background: #eee;
          margin-top: -10px;
          padding: 15px;
        }
      }
    }
  }
}

.pager {
  li {
    a {
      @extend .btn-iw-b
    }
  }
}

.the-page {
  @include no-pad;
  margin-top: 100px;

  .header {
    height: 40vh;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
  }

  &__title {
    font-weight: 700;
    width: 100%;
    text-align: center;
    @media(min-width:768px) {
      border-bottom: 1px solid #000;
      line-height: 0.1em;
      margin: 10px 0 20px;

      .lined {
        background: #fafafa;
        padding: 0 10px;
      }
    }
  }

  &__content {
    padding-bottom: 30px;
    @include no-pad;

    form,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul {
      @media(max-width:768px) {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    p {
      font-size: 1.2em;
    }

    a {
      font-weight: 500;
      color: $blue;
    }

    img {
      width: 100%;
      height: auto;
    }

    form {
      width: 100%;
      text-align: center;

      label {
        text-align: left;
      }

      input,
      textarea {
        width: 100%!important;
      }

      input[type=submit] {
        width: 50%!important;
        background: $blue;
        color: $white;
        border: none;
        border-radius: 2px;
        @media(min-width:768px) {
          padding: 10px 20px;
        }
        padding: 15px;

        &:hover {
          background: $green;
          color: #fff;
        }
      }
    }
  }
}

.servicePage {
  margin-top: 0;

  .header {
    height: 50vh;
  }

  .the-page__content {
    padding: 30px!important !important;
  }
}

.last-cta {
  padding: 50px;
  background: url("../images/kelpies-grad.jpg");
  background-size: cover;
  background-position: center;

  h3 {
    font-weight: 700;
    margin-bottom: 40px;
    color: $white;
  }

  .btn-iw-b {
    background: $blue;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, $green, $blue);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, $blue, $green);
    padding: 10px 20px;
    font-size: 20px;
    border: 2px $white solid;
  }
}

.not-found-message {
  padding: 75px 15px;
  @media(min-width:768px) {
    padding: 100px;
  }

  img {
    width: 50%;
    @media(min-width:768px) {
      width: 10%;
    }
  }

  .goBack {
    color: $blue;
    font-weight: 500;
    cursor: pointer;
    text-decoration: underline;
  }
}

.footer {
  @include no-pad;

  .navbar-collapse.collapse {
    display: block;
  }

  .navbar-nav,
  .navbar-nav > li {
    float: left;
  }

  .navbar-nav.navbar-right:last-child {
    margin-right: -15px;
  }
  @media(min-width:768px) {
    .navbar-right {
      float: right!important;
    }
  }
  @media (max-width: 768px) {
    .navbar .navbar-nav {
      li {
        display: inline-block!important;
        float: none!important;
      }
      display: inline-block!important;
      float: none!important;
      vertical-align: top;
    }

    .navbar .navbar-collapse {
      text-align: center;
    }
  }

  .navbar {
    border-radius: 0;
    margin-bottom: 0;
    background-color: #eee;
    border: none;

    .navbar-right {
      li {
        a {
          font-size: 18px;
        }
      }
    }
  }

  .footer-content {
    padding: 30px 30px 10px;

    .contact-info {
      @media(min-width:768px) {
        padding-left: 90px;
      }
      padding-bottom: 20px;

      table {
        tr {
          cursor: pointer;

          td {
            padding: 5px;

            &:nth-child(1) {
              padding-left: 0;
            }

            i {
              color: $blue;
            }
          }
        }
      }
    }

    .disclaimer {
      p {
        font-size: 14px;
      }
    }
  }
}
