@import 'var'; // @include justify-nav;

.header {
     margin-top:50px;
     height: 80vh;
     background: #C04848;
     /* fallback for old browsers */
     background: -webkit-linear-gradient(to right, #480048, #C04848);
     /* Chrome 10-25, Safari 5.1-6 */
     background: linear-gradient(to right, #480048, #C04848);
     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     h1 {
          color: #fff;
     }

     .question {
          margin-top: 30vh;
          width: 50%;
          margin: 0 auto;

          label {
               color: #fff;
               text-shadow: 1px 1px 3px #000;
          }
     }

     #answer {
          width: 75%;
          margin: 30px auto 0;
          color: #fff;
          font-size: 17px;
     }
}
