@import 'var'; // @include justify-nav;

body {
     font-family: 'Lato', verdana;
     background: #fafafa;

     p {
          line-height: 1.7em;
          font-weight: 300;
     }
}

.investingwell-well {
     color: $purple;
}

.navbar {
     .navbar-brand {
          width: 20%;

          img {
               max-width: 120px;
               margin-top: -7px;
          }
     }
}

.header {
     margin-top: 40px;
     background: url('../images/hands.png');
     background-size: cover;
     background-position: center;
     padding: 20px;
     @media(min-width:768px) {
          padding: 100px;
     }

     h1 {
          color: #fff;
          font-weight: 300;
          font-size: 4em;
          text-shadow: 2px 2px 4px #000;
     }

     p {
          padding: 20px;
          @media(min-width:768px) {
               padding: 20px 150px 30px;
               font-size: 1.8em;
          }
          padding-top: 20px;
          padding-bottom: 30px;
          color: #fff;
          text-shadow: 2px 2px 4px #000;
          font-weight: 200;
          font-size: 1.4em;
     }
}

input[type='text'] {
     font-size: 16px;
}

.chatHeader {
     padding-top: 10vh;
     padding-bottom: 10vh;
     height: auto;
     transition: 1s;
     background: #C04848;
     /* fallback for old browsers */
     background: -webkit-linear-gradient(to right, $purple, $blue);
     /* Chrome 10-25, Safari 5.1-6 */
     background: linear-gradient(to right, $purple, $blue);
     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     .question {
          margin-top: 30vh;
          width: 50%;
          @media(max-width: 768px) {
               width: 90%;
          }
          margin: 0 auto;

          label {
               color: #fff;
               text-shadow: 1px 1px 3px #000;
          }
     }

     #answer {
          width: 75%;
          @media(max-width: 768px) {
               width: 90%;
          }
          margin: 30px auto 0;
          color: #fff;
          font-size: 17px;
          transition: 1s;

          ul {
               list-style-type: none;

               li {
                    margin-left: -15px;

                    a {
                         color: #fff;
                         margin-left: -15px;
                    }
               }
          }
     }

     input {}
}

.savingFor {
     padding-top: 20px;
     padding-bottom: 40px;

     h3 {
          font-weight: 700;
     }

     .card-options {
          margin-top: 30px;

          .box {
               color: #333;
               margin-bottom: 30px;
               text-decoration: none;

               .box-inner {
                    i {
                         font-size: 40px;
                    }

                    p {
                         font-weight: 700;
                         margin-top: 20px;
                    }
                    background: #fff;
                    border-radius: 3px;
                    padding: 20px;
                    border: 1px solid #e5e5e5;
                    transition: 0.3s;
                    @media(min-width:768px) {
                         &:hover {
                              i {
                                   color: $blue;
                              }
                              margin-top: -3px;
                              border-bottom: 5px solid $purple;
                         }
                    }
               }
          }
     }
}

.donations {
     padding: 20px;
     @media(min-width:768px) {
          padding: 15px 90px 90px;
     }
     padding-top: 30px;
     @media(min-width:768px) {
          background: url('../images/donations.png');
          background-position: right;
     }
     background: url('../images/donations-darker.png');
     background-position: center;
     @include full-background;
     color: #fff;

     h2 {
          font-size: 2.6em;
          font-weight: 700;
          margin-bottom: 50px;
     }

     p {
          font-size: 18px;
          font-weight: 300;
     }

     .btn {
          margin-top: 20px;
     }
}

.robots {
     padding: 20px;
     @media(min-width:768px) {
          padding: 15px 90px 90px;
     }
     padding-top: 30px !important;

     h2 {
          font-size: 2.6em;
          font-weight: 700;
     }

     hr {
          height: 1px;
          background-color: #333;
          border: none;
     }

     p {
          font-size: 18px;
          font-weight: 300;
     }

     .btn {
          margin-top: 20px;
     }

     .image {
          @media(max-width:768px) {
               text-align:left;
          }
          img {
               width: 100%;
               @media(min-width:480px) {
                    width:50%;
               }
               @media(min-width:992px) {
                    width:100%;
                    margin-top:50px;
               }
               @media(min-width:1300px) {
                    width: 75%;
               }
          }
     }
}

.personalised {
     background: #eee;
     padding: 20px;
     @media(min-width:992px) {
          padding-bottom: 0;
     }

     h2 {
          font-size: 2.6em;
          font-weight: 700;
          @media(min-width:768px) {
               margin-bottom: 50px;
          }
     }

     p {
          font-size: 18px;
          font-weight: 300;
     }

     .btn {
          margin-top: 20px;
     }

     img {
          @media(min-width:768px) {
               width: 55%;
          }
          width: 50%;
     }
}

.service {
     @media(min-width:768px) {
          padding: 30px;
     }

     h3 {
          font-weight: 700;
     }

     table {
          margin-top: 30px;

          thead {
               background: #4A4A4A;
               color: #fff;

               th {
                    color: #fff;
                    padding: 7px;
                    border-radius: 3px 3px 0 0;
               }
          }

          tbody {
               border-left: 1px solid #eee;

               tr {
                    border-bottom: 1px solid #eee;

                    &.firstRow {
                         font-weight: 700;
                    }

                    &:nth-of-type(even) {
                         background: #F2F2F2;
                    }

                    td {
                         padding: 7px;
                         border-right: 1px solid #eee;

                         .fa-check {
                              color: #72E270;
                         }

                         .fa-times {
                              color: #852525;
                         }
                    }
               }
          }
     }
}
